.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.total-price {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 1rem;
  font-size: 20px;
}
.log-out{
  padding: 10px;
  border:  none;
  background: brown;

}
.log-out:hover{
  background: yellowgreen;
}
